{% extends 'templates/default.html.twig' %}

{% set page =
    {
        "title": "Proveedor",
        "subtitle": "Inicio",
        "section": "proveedor"
    }
%}

{% block breadcrumb %}
    <li><a href=""><i class="fa fa-hashtag"></i>Proveedor</a></li>
    <li class="active"> {{ page.title }}</li>
{% endblock %}
{% block content %}
<div>
    <div class="box box-primary">
        <div class="box-body">
            {{ form_start(form, {'attr': {'id':'form', 'role': 'form'}}) }}
            <div class="form-group{% if form.nombre.vars.errors|length > 0 %} has-error{% endif %}">
                {{ form_label(form.nombre) }}
                {{ form_widget(form.nombre) }}
                <div class="help-block with-errors">
                    {{ form_errors(form.nombre) }}
                </div>
            </div>
        </div>
        <div class="box-footer">
              <button type="submit" class="btn bg-olive btn-flat margin pull-right">Guardar</button>
          </div>
        {{ form_end(form) }}
    </div>
</div>
<div>
    <div class="box">
        <div class="box-body">
            <div class="dataTables_wrapper form-inline dt-bootstrap">
                <table id="table" class="table dataTable table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th></th>
                      </tr>
                    </thead>
                    <tbody>
                      {% for item in proveedors %}
                      <tr {% if not item.active %} class="danger" {% endif %}>
                        <td>{{ item.id }}</td>
                        <td>{{ item.nombre }}</td>
                        <td class="table-operations row">
                          {% if item.active %}
                            <a class="label label-primary btn-xs col-md-6" href="{{ path('proveedor_edit', { 'id': item.id }) }}" type="button">Editar</a>
                          {% endif %}
                          <a class="label label-{% if item.active %}danger{% else %}success{% endif %} btn-xs col-md-6" href="{{ path('proveedor_toggleActive', { 'id': item.id }) }}" type="button">{% if item.active %} Eliminar {% else %} Recuperar {% endif %}</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th></th>
                      </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('lib/bootstrap-datatables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/bootstrap-datatables/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/DataTable.ready.js') }}"></script>
{% endblock javascript %}
{% block stylesheet %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('lib/bootstrap-datatables/dataTables.bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/DataTable.css') }}" />
{% endblock stylesheet %}
