{% extends 'templates/default.html.twig' %}
{% set page =
    {
        "title": "Pedido",
        "subtitle": "Cerrar",
        "section": "Pedido"
    }
%}

{% block breadcrumb %}
    <li><a href=""><i class="fa fa-hashtag"></i>Pedido</a></li>
    <li class="active"> {{ page.subtitle }}</li>
{% endblock %}

{% block content %}
<form action="{{ path('pedido_close', {'id': pedido.id })}}" method="post">
<div>
    <div class="box">
        <div class="box-header">
          <div class="col-md-6">
              <label>Proveedor</label>
              <div class="form-control">
                <span>{{ pedido.proveedor.nombre}}</option>
              </div>
          </div>
          <div class="col-md-6">
              <label>Fecha Apertura</label>
              <div class="form-control">
                <span>{{ pedido.fechaApertura|date("m/d/Y")}}</option>
              </div>
          </div>
        </div>
        <div class="box-body">
            <div class=" form-inline dt-bootstrap">
                <table id="table" class="table dataTable table-bordered table-hover">
                    <thead>
                      <tr>
                          <th>#</th>
                          <th>Nombre</th>
                          <th>Cantidad Pedida</th>
                          <th>Cantidad Recibida</th>
                      </tr>
                    </thead>
                    <tbody id="listProduct">
                      {% for item in pedido.detalle %}
                          <tr>
                            <td>{{item.id}}</td>
                            <td>{{item.producto.nombre}}</td>
                            <td>{{item.cantidadPedida}}</td>
                            <td><input type="number" class="form-control" name="cant[{{item.id}}]" value="0"/></td>
                          </tr>
                      {% endfor %}
                    </tbody>
                    <tfoot>
                      <tr>
                        <th>#</th>
                        <th>Nombre</th>
                        <th>Cantidad Pedida</th>
                        <th>Cantidad Recibida</th>
                      </tr>
                    </tfoot>
                </table>
            </div>
        </div>
        <div class="box-footer">
              <button type="submit" class="btn bg-olive btn-flat margin pull-right">Cerrar Pedido</button>
        </div>
    </div>
</div>
</form>
{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('lib/bootstrap-datatables/dataTables.bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/DataTable.css') }}" />
{% endblock stylesheet %}


{% block javascript %}
    {{ parent() }}
    <script type="text/javascript">
      var url="{{path('ajax_get_product')}}";
      function remove(id, nombre){
        if ($('#productosAdd option').length == 1){
          $('#productosAdd option').remove();
          $('#productosAdd').append('<option>Seleccione un producto</option>');
        }
        $('#productosAdd').append('<option value="'+id+'">'+nombre+'</option>');
        $('#product_'+id).remove();
      }
    </script>
    <script type="text/javascript" src="{{ asset('lib/bootstrap-datatables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/bootstrap-datatables/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/NewOrder.js') }}">
    </script>
{% endblock javascript %}
