{% extends 'templates/default.html.twig' %}

{% set page =
    {
        "title": "Pedido",
        "subtitle": "Inicio",
        "section": "Pedido"
    }
%}

{% block breadcrumb %}
    <li><a href=""><i class="fa fa-hashtag"></i>Pedido</a></li>
    <li class="active"> {{ page.subtitle }}</li>
{% endblock %}


{% block content %}
<div class="box">
    <div class="box-body">
        <div class="dataTables_wrapper form-inline dt-bootstrap">
            <table id="table" class="table dataTable table-bordered table-hover">
              <thead>
                  <tr>
                      <th>Id</th>
                      <th>Proveedor</th>
                      <th>Fecha de Apertura</th>
                      <th>Fecha de Cierre</th>
                      <th>Actiones</th>
                  </tr>
              </thead>
              <tbody>
              {% for pedido in pedidos %}
                  <tr>
                      <td>{{ pedido.id }}</td>
                      <td>{{ pedido.proveedor.nombre }}</td>
                      <td>{% if pedido.fechaApertura %}{{ pedido.fechaApertura|date('Y-m-d H:i:s') }}{% endif %}</td>
                      <td>{% if pedido.fechaCierre %}{{ pedido.fechaCierre|date('Y-m-d H:i:s') }}{% endif %}</td>
                      <td class="row">
                        <a class="label label-primary btn-xs col-md-6" href="{{ path('pedido_close', { 'id': pedido.id }) }}" type="button">imprimir</a>
                        {% if pedido.fechaCierre is null %} <a class="label label-danger btn-xs col-md-6" href="{{ path('pedido_close', { 'id': pedido.id }) }}" type="button">cerrar</a>{% endif %}
                      </td>
                  </tr>
              {% endfor %}
              </tbody>
        </table>
      </div>
    </div>
</div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script type="text/javascript" src="{{ asset('lib/bootstrap-datatables/jquery.dataTables.js') }}"></script>
    <script type="text/javascript" src="{{ asset('lib/bootstrap-datatables/dataTables.bootstrap.min.js') }}"></script>
    <script type="text/javascript" src="{{ asset('js/DataTable.ready.js') }}"></script>
{% endblock javascript %}
{% block stylesheet %}
    {{ parent() }}
    <link type="text/css" rel="stylesheet" href="{{ asset('lib/bootstrap-datatables/dataTables.bootstrap.css') }}" />
    <link type="text/css" rel="stylesheet" href="{{ asset('css/DataTable.css') }}" />
{% endblock stylesheet %}
