{% extends 'templates/default.html.twig' %}

{% block content %}
    <h1>Pedido</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ pedido.id }}</td>
            </tr>
            <tr>
                <th>Fechaapertura</th>
                <td>{% if pedido.fechaApertura %}{{ pedido.fechaApertura|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Fechacierre</th>
                <td>{% if pedido.fechaCierre %}{{ pedido.fechaCierre|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('pedido_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('pedido_edit', { 'id': pedido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
