{% extends 'templates/print.html.twig' %}
{% set page =
    {
        "title": "Envio",
        "subtitle": " Numero: " ~ envio.id ,
        "section": "Envio"
    }
%}
{% block content %}
<div class="box">
  <div class="box-header">
    <div class="col-xs-4">
        <label>Sector</label>
        <div class="form-control">
          <span>{{ envio.sector.nombre|title}}</option>
        </div>
    </div>
    <div class="col-xs-4">
        <label>Fecha</label>
        <div class="form-control">
          <span>{{ envio.fecha|date("d/m/Y")}}</option>
        </div>
    </div>
    <div class="col-xs-4">
        <label>Responsable</label>
        <div class="form-control">
          <span>{{ envio.responsable|title}}</option>
        </div>
    </div>
  </div>
  <div class="box-body">
      <div class=" form-inline dt-bootstrap">
          <table id="table" class="table dataTable table-bordered table-hover">
              <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Cantidad</th>
                </tr>
              </thead>
              <tbody id="listProduct">
                {% for item in envio.detalle %}
                    <tr>
                      <td>{{item.id}}</td>
                      <td>{{item.producto.nombre}}</td>
                      <td>{{item.cantidad}}</td>
                    </tr>
                {% endfor %}
              </tbody>
              <tfoot>
                <tr>
                  <th>Nombre</th>
                  <th>Cantidad</th>
                </tr>
              </tfoot>
          </table>
      </div>
  </div>
</div>
{% endblock %}
