{% extends 'base.html.twig' %}

{% block content %}
    <h1>Envio</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ envio.id }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{% if envio.fecha %}{{ envio.fecha|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Responsable</th>
                <td>{{ envio.responsable }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('envio_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('envio_edit', { 'id': envio.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
