{% extends 'templates/default.html.twig' %}

{% set page =
    {
        "title": "Inicio",
        "subtitle": "Dashboard",
        "section": "Administracion"
    }
%}

{% block breadcrumb %}
    <li><a href=""><i class="fa fa-hashtag"></i>{{page.title}}</a></li>
    <li class="active"> {{ page.subtitle }}</li>
    {% endblock %}
    {% block content %}
    <div class="row">
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a href="{{ path('pedido_new')}}">
              <div class="small-box bg-blue" role="button" >
                  <div class="inner">
                      <h3>Pedido</h3>
                      <p>a proveedor</p>
                  </div>
                  <div class="icon">
                      <i class="fa fa-indent "></i>
                  </div>
              </div>
            </a>
        </div>
        <!-- ./col -->
        <div class=" col-lg-3 col-xs-6">
            <!-- small box -->
            <a href="{{ path('envio_new')}}">
              <div class="small-box bg-blue" role="button" >
                  <div class="inner">
                      <h3>Envío</h3>
                      <p>a sector</p>
                  </div>
                  <div class="icon">
                      <i class="fa fa-dedent"></i>
                  </div>
              </div>
            </a>
        </div>
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a href="{{ path('estadistica_index') }}">
              <div class="small-box bg-green" role="button" >
                  <div class="inner">
                      <h3>Estadísticas</h3>
                      <p>Ingresa para ver las estadísticas</p>
                  </div>
                  <div class="icon">
                      <i class="fa  fa-area-chart"></i>
                  </div>
              </div>
            </a>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
            <!-- small box -->
            <a href="{{ path('producto_critical') }}">
              <div class="small-box bg-red" role="button" >
                  <div class="inner">
                      <h3>{{ stockCritico}}</h3>

                      <p>Productos en stock crítico</p>
                  </div>
                  <div class="icon">
                      <i class="fa fa-exclamation-triangle"></i>
                  </div>
              </div>
            </a>
        </div>
        <!-- ./col -->
    </div>
    <div class="box box-primary ">
        <div class="box-header">
            <h3 class="box-title">Lista de pedidos abiertos</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body no-padding">
          <div class="content">
          {% if pedidosAbiertos|length > 0 %}
            <table class="table table-striped">
                <tbody><tr>
                        <th style="width: 10px">#</th>
                        <th>Proveedor</th>
                        <th>Fecha de realización</th>
                        <th>Acciones</th>
                    </tr>
                    {% for pedido in pedidosAbiertos %}
                        <tr>
                            <td>{{pedido.id}}</td>
                            <td>{{pedido.proveedor.nombre}}</td>
                            <td>{{pedido.fechaApertura|date('d/m/Y')}}</td>
                            <td>
                              <a class="label label-primary btn-xs col-md-4" href="{{ path('pedido_print', { 'id': pedido.id }) }}" type="button">imprimir</a>
                              <a class="label label-danger btn-xs col-md-4" href="{{ path('pedido_close', { 'id': pedido.id }) }}" type="button">cerrar</a>
                              <a class="label label-warning btn-xs col-md-4" href="{{ path('pedido_show', { 'id': pedido.id }) }}" type="button">ver</a>
                            </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% else %}
              <div class="callout callout-success">
                <h4>Atencion!</h4>
                <p> El sistema no detecto ningun pedido sin cerrar, todos los pedidos han sido recibidos.</p>
              </div>
            {% endif %}
          </div>
        </div>
        <!-- /.box-body -->
    </div>
{% endblock %}
