{% extends 'templates/default.html.twig' %}
{% set page =
    {
        "title": "Inicio",
        "subtitle": "Dashboard",
        "section": "Administracion"
    }
%}

{% block content %}
    <li><a href=""><i class="fa fa-hashtag"></i>{{page.title}}</a></li>
    <li class="active"> {{ page.subtitle }}</li>
 <form method="POST" action='{{path('mostrar')}}'>
    <label>Fecha inicio</label><input type="text" id="fecha_inicio" name="fecha_inicio" value="{{"now"|date("d/m/Y")}}">
    <label>Fecha fin</label><input type="text" id="fecha_fin" name="fecha_fin" value="{{"now"|date("d/m/Y")}}">
    <select name="producto_id">
        {% for producto in productos%}
            <option value="{{producto.id}}">{{producto.nombre}}</option>
        {% endfor %}
    </select>
    <button type="subnit" id="botonMostrar" class="btn bg-olive btn-flat margin ">Mostrar</button>
 </form>
    {% if pedidos is not empty %}
    asd

   <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    {% endif%}
{% endblock %}
