{% extends 'templates/default.html.twig' %}
{% set page =
    {
        "title": "Inicio",
        "subtitle": "Dashboard",
        "section": "Administracion"
    }
%}

{% block content %}
    <li><a href=""><i class="fa fa-hashtag"></i>{{page.title}}</a></li>
    <li class="active"> {{ page.subtitle }}</li>
  
    <label>Fecha inicio</label><input type="text" id="fecha_inicio" value="{{"now"|date("d/m/Y")}}">
    <label>Fecha fin</label><input type="text" id="fecha_fin" value="{{"now"|date("d/m/Y")}}">
    <select>
        {% for producto in productos%}
            <option value="{{producto.id}}">{{producto.nombre}}</option>
        {% endfor %}
    </select>       
        <button type="button">Mostrar</button>

<h1>Welcome to the Ajax:index page</h1>
    <div id="containerPosts"></div>
{% endblock %}
 
{% block javascripts %}
    <script src="{{ asset("assets/vendor/jquery/dist/jquery.min.js") }}"></script>
    <script>
        jQuery(document).ready(function($)
        {
            $.ajax({
                method: "POST",
                url: "{{ url('ajax_posts') }}",
                dataType: 'json',
                success: function(data)
                {
                    if(data.hasOwnProperty("response") && data.response === "success")
                    {
                        if(data.hasOwnProperty("producto"))
                        {
                            //http://stackoverflow.com/questions/3710204/how-to-check-if-a-string-is-a-valid-json-string-in-javascript-without-using-try/3710226
                            if (/^[\],:{}\s]*$/.test(data.posts.replace(/\\["\\\/bfnrtu]/g, '@').
                                    replace(/"[^"\\\n\r]*"|true|false|null|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?/g, ']').
                                    replace(/(?:^|:|,)(?:\s*\[)+/g, '')))
                            {
                                var posts = JSON.parse(1);
                                if(posts.length > 0)
                                {
                                    var html = "alallalla";
                                    for(d in 1)
                                    {
                                        html += "<p>" + JSON.stringify(1) + "</p>";
                                    }
                                    $("#containerPosts").append(html);
                                }
                            }
                            else
                            {
                                console.log("INVALID JSON STRING");
                            }
                        }
                        else
                        {
                            console.log("POSTS NOT FOUND");
                        }
                    }
                },
                error: function(jqXHR, exception)
                {
                    if(jqXHR.status === 405)
                    {
                        console.error("METHOD NOT ALLOWED!");
                    }
                }
            });
        });
    </script>
    
{% endblock %}