{% if page is not defined %}
    {% set page = {"title": "Sistema de Control de Stock", "subtitle": "Hospital San Martin", "section": "null" } %}
{% endif %}

<li class="treeview" >
    <a href="{{ path('inicio')}}">
    <i class="fa  fa-tachometer "></i>
      <span>Inicio</span>
    </a>
</li>
<li class="treeview {% if page.title == "Pedido" %} active {% endif %}" >
    <a href="">
    <i class="fa fa-indent"></i>
      <span>Pedidos</span>
    </a>
    <ul class="treeview-menu">
        <li ><a href="{{ path('pedido_index')}}">Listar</a></li>
        <li ><a href="{{ path('pedido_new')}}">Crear</a></li>
    </ul>
</li>
<li class="treeview  {% if page.title == "Envio" %} active {% endif %}" >
    <a href="">
    <i class="fa fa-dedent"></i>
      <span>Envíos</span>
    </a>
    <ul class="treeview-menu">
      <li ><a href="{{ path('envio_index')}}">Listar</a></li>
      <li ><a href="{{ path('envio_new')}}">Crear</a></li>

    </ul>
</li>
<li class="treeview {% if page.title == "Producto" %} active {% endif %}" >
    <a href="{{ path('producto_index')}}">
      <i class="fa fa-medkit "></i>
      <span>Productos</span>
    </a>
    <span class="pull-right-container">
    </span>
    <ul class="treeview-menu">
        <li ><a href="{{ path('producto_update')}}">Actualizar Stock</a></li>
    </ul>
</li>
<li class="treeview  {% if page.title == "Sector" %} active {% endif %}" >
    <a href="{{ path('sector_index')}}">
    <i class="fa fa-home "></i>
      <span>Sector</span>
    </a>
</li>
<li class="treeview  {% if page.title == "Proveedor" %} active {% endif %}" >
    <a href="{{ path('proveedor_index')}}">
    <i class="fa  fa-cart-plus"></i>
      <span>Proveedor</span>
    </a>
</li>
<li class="treeview  {% if page.title == "Estadisticas" %} active {% endif %}" >
    <a href="{{ path('estadistica_index')}}">
    <i class="fa  fa-area-chart"></i>
      <span>Estadisticas</span>
    </a>
</li>
