{% extends 'templates/default.html.twig' %}

{% block content %}
    <h1>Detallepedidos list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidadpedida</th>
                <th>Cantidadrecibida</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detallePedido in detallePedidos %}
            <tr>
                <td><a href="{{ path('detallepedido_show', { 'id': detallePedido.id }) }}">{{ detallePedido.id }}</a></td>
                <td>{{ detallePedido.cantidadPedida }}</td>
                <td>{{ detallePedido.cantidadRecibida }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('detallepedido_show', { 'id': detallePedido.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('detallepedido_edit', { 'id': detallePedido.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detallepedido_new') }}">Create a new detallePedido</a>
        </li>
    </ul>
{% endblock %}
