{% extends 'templates/default.html.twig' %}

{% block content %}
    <h1>Detallepedido</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ detallePedido.id }}</td>
            </tr>
            <tr>
                <th>Cantidadpedida</th>
                <td>{{ detallePedido.cantidadPedida }}</td>
            </tr>
            <tr>
                <th>Cantidadrecibida</th>
                <td>{{ detallePedido.cantidadRecibida }}</td>
            </tr>
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detallepedido_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('detallepedido_edit', { 'id': detallePedido.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
