{% extends 'templates/default.html.twig' %}

{% block content %}
    <h1>Detalleenvios list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Cantidad</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for detalleEnvio in detalleEnvios %}
            <tr>
                <td><a href="{{ path('detalleenvio_show', { 'id': detalleEnvio.id }) }}">{{ detalleEnvio.id }}</a></td>
                <td>{{ detalleEnvio.cantidad }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('detalleenvio_show', { 'id': detalleEnvio.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('detalleenvio_edit', { 'id': detalleEnvio.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('detalleenvio_new') }}">Create a new detalleEnvio</a>
        </li>
    </ul>
{% endblock %}
